[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysimplegui = "*"
pysimpleguiqt = "*"
pyside2 = "*"
statsmodels = "*"
matplotlib = "*"
requests = "*"
rich = "*"
smbus = "*"
ics = "*"
caldav = "*"
todoist-api-python = "*"
icalendar = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
tz = "*"

[dev-packages]

[requires]
python_version = "3.10"
